:root {
  --default-fs: 16px;
  --default-color: #111111;
  --white: #ffffff;
  --primary: #0800FF;
  --primary-sub: #413BFF;
  --secondary: #7B3AEB;
  --light-gray: #FAFAFA;
  --medium-gray: #9F9F9F;
  --dark-gray: #333333;
}

/* layout */
* {box-sizing: border-box;}

/* Color */
.primary{color: var(--primary);}
.primary-bg{background-color: var(--primary);}
.dark-gray{color: var(--dark-gray);}
.dark-gray-bg{background-color: var(--dark-gray);}
.default-color-bg{background-color: var(--default-color);}
.white{color: var(--white);}
.white-bg{background-color: var(--white);}


/* Typography */
body{
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.5rem;
  line-height: 1.3;
  color: var(--default-color);
}
.en1{font-family: "Noto Sans", sans-serif;}
.en2{font-family: 'Presentation';}
.main-tit{
  font-family: 'Escoredream';
  font-size: 3rem;
  font-weight: 300;
}
.sub-tit{
  font-family: "Noto Sans KR", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

