
#intro{
  height: 0;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.35s;
}
.text{
  box-sizing: border-box;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  color: #0800FF;
}

.border {
  outline: grey 2px dashed;
  outline-offset: 5px;
  border-radius: 10px;
}

@media (max-width: 300px) or (max-height: 300px) {
  .button-wrapper button {
    padding: 2px;
    border: none;
  }
}