/* html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
} */
#intro{
  display: flex;
  align-items: center;
  justify-content: center;
  /* min-height: 100vh; */
  flex-direction: column;
}
.text{
  /* font-family: Fraktion Mono; */
  box-sizing: border-box;
  /* padding: 10% 5% 5% 5%; */
  /* width: 100%; */
  /* height: 300px; */
  /*   word-break: break-all; */
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  /* width: 90vw; */
  /* max-width: 50ch; */
  color: #0800FF;
}

.border {
  outline: grey 2px dashed;
  outline-offset: 5px;
  border-radius: 10px;
}

@media (max-width: 300px) or (max-height: 300px) {
  .button-wrapper button {
    padding: 2px;
    border: none;
  }
}