/* 공통____________________________________________________ */
.container{
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
}
section{
  position: relative;
  width: 100%;
  height: 100vh;
  background: var(--primary-gra);
}
.line{
  width: 100%;
  height: 0.0625rem;
  background-color: rgba(17, 17, 17,0.3);
}
.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: none;
}
.modal-bg{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal-content{
  background-color: var(--light-gray);
  width: clamp(50rem, 70%, 87.5rem);
  z-index: 1;
}
.close-btn{
  position: absolute;
  width: 3rem;
  height: 3rem;
}

/* intro_____________________________________________ */
.intro{
  z-index: 100;
  position: fixed;
  width: calc(50% - 0.0625rem);
  height: 100vh;
  background-color: var(--default-color);
  /* background-color: var(--dark-gray); */
  transition: 0.7s ease-in-out;
  display: none;
}
.intro.left{
  left: 0; transform: rotateY(0deg);
}
.intro.right{
  right: 0; transform: rotateY(0deg);
}



/* nav-bar_____________________________________________ */
.nav-bar{
  background: var(--light-gray);
  box-shadow: var(--shadow-center);
  position: fixed;
  bottom: -5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 50rem;
  height: 4rem;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* overflow: hidden; */
  z-index: 10;
}
#gnb{display: flex;}
#gnb li{margin-left: 1rem;}
#gnb li a{
  display: block;
  width: 8rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  line-height: 3rem;
  border-radius: 1.5rem;
  transition: 0.35s;
}
a.nav:hover{color: var(--primary);}
a.nav.active{
  color: var(--primary);
  background: var(--white);
  box-shadow: var(--shadow-default) inset;
}

.info-btn{
  color: var(--medium-gray);
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-btn:hover{color: var(--dark-gray);cursor: pointer;}
.home-btn a{
  color: var(--medium-gray);
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-box{
  position: fixed;
  bottom: 5.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  border: 0.0625rem solid var(--primary);
  background-color: var(--light-gray);
  border-radius: 2rem;
  font-size: 1.25rem;
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
  line-height: 1.6;
  padding: 1.5rem 3rem;
  display: none;
}


/* header_________________________________________________ */
.header{
  position: absolute;
  width: 100%;
  /* padding: 0 6rem; */
  padding: 1.5rem clamp(1rem, 3vw, 6rem) 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  backdrop-filter: blur(0.5rem);
}
.header-tit, .header-btn{white-space: nowrap;}
.header-tit{
  font-size: 3rem;
  font-weight: 200;
  margin: 0 2rem;
}
.header-btn{
  font-size: 1rem;
  font-weight: 400;
  margin: 0 1rem;
  cursor: pointer;
  transition: 0.35s;
}
.header-btn:hover{
  font-size: 1.5rem;
  color: var(--primary);
}

/* Home_________________________________________ */
/* #home{transform: scale(0.1); transition: 0.7s ease-in-out;} */
#home{transform: scale(1); transition: 0.7s ease-in-out;}
.main{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.main-tit, .main-word{white-space: nowrap;}
.main-tit{margin: 0 2rem;}
.main-tit span{
  color: var(--primary);
  font-weight: 500;
}
.main-word{
  color: var(--primary);
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0 1rem;
}

.bg-txt{
  position: absolute;
  font-family: "Rajdhani", sans-serif;
  line-height: 1;
  text-transform: uppercase;
}
.bg-txt1{
  color: #ccc;
  font-size: 7rem;
  font-weight: 100;
  top: 0;
  left: 0;
  /* transform: translateX(-300px); */
}
.bg-txt2{
  color: #E5E5E5;
  font-size: 6rem;
  font-weight: 700;
  transform: rotate(90deg);
  bottom: 3rem;
  left: -3rem;
}
.bg-txt3{
  color: #d2d2d2;
  font-size: 2rem;
  transform: rotate(-90deg);
  top: 4.5rem;
  right: -3.5rem;
}

/* Publishing_________________________________________ */



/* Design_________________________________________ */
#design{overflow: hidden;}
.design-inner{
  position: absolute;
  width: 300%;
  height: 100vh;
  display: flex;
  left: -100%;
  transition: 0.35s;
}
.design-sec{
  width: 100%;
  height: 100vh;
  position: relative;
  background: var(--primary-gra);
}

/* middle */
.middle-sec{
  position: absolute;
  width: 50%;
  height: 100vh;
  top: 0;
  transition: 0.35s;
}
.middle-sec.uxui{left: 0;}
.middle-sec.graphic{right: 0;}
.middle-dimmed{
  position: absolute;
  width: 100%;
  height: 100vh;
  /* background-color: rgba(255,255,255,0); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.35s;
}
/* .middle-sec:hover .middle-images{opacity: 1;} */
.middle-sec:hover .middle-dimmed{background-color: rgba(255,255,255,0.6);}
.middle-sec:hover .design-btn{opacity: 1;}
.middle-tit{
  font-size: clamp(1rem, 3vw, 3rem);
  font-weight: 900;
  white-space: nowrap;
  text-align: center;
  margin-bottom: 5rem;
  transform: translateY(4rem);
}
.design-btn{
  font-size: clamp(0.75rem, 2vw, 1rem);
  font-weight: 400;
  background-color: var(--primary);
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  cursor: pointer;
  opacity: 0;
  transition: 0.35s;
}
.design-btn:hover{
  box-shadow: var(--shadow-default);
  transform: translateY(-0.5rem);
}
.middle-images{
  position: absolute;
  width: 100%;
  height: 100vh;
  /* opacity: 0; */
  transition: 0.35s;
  overflow: hidden;
}
.middle-images img{position: absolute;}
.uxui .middle-images img:nth-of-type(1){
  width: clamp(10rem, 30vw, 20rem);
  top: 70%;
  left: 75%;
  transform: translate(-50%,-50%);
}
.uxui .middle-images img:nth-of-type(2){
  width: clamp(18rem, 60vw, 40rem);
  /* width: 75%; */
  top: 24%;
  left: 60%;
  transform: translate(-50%,-50%);
}
.uxui .middle-images img:nth-of-type(3){
  width: clamp(15rem, 50vw, 35rem);
  /* width: 70%; */
  top: 60%;
  left: 27%;
  transform: translate(-50%,-50%);
}







/* Contact___________________________________________________________________________ */
.contact-inner{
  position: absolute;
  text-align: center;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contact-tit{
  font-family: 'Escoredream';
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  font-weight: 300;
  white-space: nowrap;
  position: relative;
}
.contact-tit:before,
.contact-tit:after{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: clamp(3rem, 7vw, 6rem);
  font-family: fontawesome;
  animation:Bounce 2s ease-in-out infinite alternate both;
}
.contact-tit:before{
  content: "\e81b";
  right: calc(100% + clamp(1rem, 4vw, 5rem));
}
.contact-tit:after{
  content: "\e81c";
  left: calc(100% + clamp(1rem, 4vw, 5rem));
}
.contact-txt{
  font-size: clamp(1rem, 3vw, 2rem);
  font-weight: 300;
  margin: 2rem auto 4rem;
}
.contact-way{
  /* width: 35rem; */
  font-size: 1.5rem;
  margin: 1rem auto;
}
.contact-btns{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}
.thank{
  color: var(--white);
  background-color: var(--primary);
  cursor: pointer;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
}
.thank:hover{
  -webkit-animation: pulsate-bck 0.5s ease-in-out infinite both;
	animation: pulsate-bck 0.5s ease-in-out infinite both;
  /* justify-content: end; */
}
.thank p{
  transform: translateY(0);
  transition: 0.3s;
}
.thank:hover p{transform: translateY(-3.5rem);}


/* contact-modal */
.contact-modal .modal-content{
  height: 35rem;
  border-radius: 3rem;
  text-align: center;
}
.contact-modal .close-btn{
  top: 2rem;
  right: 2rem;
}

.contact-modal .final{
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-modal .final-tit{
  font-size: clamp(2rem, 3vw, 3rem);
  font-weight: 400;
  color: var(--primary);
  margin-bottom: 3rem;
}
.contact-modal .final-txt{font-size: clamp(1rem, 1.5vw, 1.5rem);}
.contact-modal .tools{margin: 1.5rem 0;}
/* .contact-modal .process-btn{
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  color: var(--dark-gray);
  border: 0.1rem solid var(--dark-gray);
  border-radius: 3rem;
  padding: 0.5rem 1rem;
  margin: 3rem auto 4rem;
} */
.contact-modal .icons-btn.process{margin-bottom: 2rem;}
.copy{font-size: clamp(0.75rem, 1.5vw, 1rem);}