/* intro_____________________________________________ */
.intro{
  z-index: 100;
  position: fixed;
  width: calc(50% - 0.0625rem);
  height: 100vh;
  background-color: var(--default-color);
  /* background-color: var(--dark-gray); */
  transition: 0.7s ease-in-out;
}
.intro.left{
  left: 0;
}
.intro.right{
  right: 0;
}



/* nav-bar_____________________________________________ */
.nav-bar{
  background: var(--light-gray);
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.25);
  position: fixed;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 50rem;
  height: 4rem;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* overflow: hidden; */
}
#gnb{display: flex;}
#gnb li{margin-left: 1rem;}
#gnb li a{
  display: block;
  width: 8rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  line-height: 3rem;
  border-radius: 1.5rem;
}
a.nav:hover{color: var(--primary);}
a.nav.active{
  color: var(--primary);
  background: var(--white);
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.25) inset;
}

.info-btn{
  color: var(--medium-gray);
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-btn:hover{color: var(--dark-gray);cursor: pointer;}
.home-btn a{
  color: var(--medium-gray);
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-box{
  font-size: 1.25rem;
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
  line-height: 1.6;
  width: max-content;
  background-color: var(--light-gray);
  border: 0.0625rem solid var(--primary);
  padding: 1.5rem 3rem;
  border-radius: 2rem;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5.5rem;
  opacity: 0;
  transition: 0.35s;
}

/* 공통____________________________________________________ */
.container{
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
}
section{
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #FAFAFA 36.41%, #E5E5E5 84.2%);
}
.line{
  width: 100%;
  height: 0.0625rem;
  background-color: rgba(17, 17, 17,0.3);
}

/* header_________________________________________________ */

.header{
  position: absolute;
  top: 1.5rem;
  width: 100%;
  padding: 0 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-tit, .header-btn{white-space: nowrap;}
.header-tit{
  font-size: 3rem;
  font-weight: 200;
  margin: 0 2rem;
}
.header-btn{
  font-size: 1rem;
  font-weight: 400;
  margin: 0 1rem;
  cursor: pointer;
}
.header-btn:hover{
  color: var(--primary);
}


/* Home_________________________________________ */
#home{transform: scale(0.1); transition: 0.7s ease-in-out;}
.main{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.main-tit, .main-word{white-space: nowrap;}
.main-tit{margin: 0 2rem;}
.main-tit span{
  color: var(--primary);
  font-weight: 500;
}
.main-word{
  color: var(--primary);
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0 1rem;
}

.bg-txt{
  position: absolute;
  font-family: "Rajdhani", sans-serif;
  line-height: 1;
  text-transform: uppercase;
}
.bg-txt1{
  color: #ccc;
  font-size: 7rem;
  font-weight: 100;
  top: 0;
  left: 0;
}
.bg-txt2{
  color: #E5E5E5;
  font-size: 6rem;
  font-weight: 700;
  transform: rotate(90deg);
  bottom: 3rem;
  left: -3rem;
}
.bg-txt3{
  color: #d2d2d2;
  font-size: 2rem;
  transform: rotate(-90deg);
  top: 4.5rem;
  right: -3.5rem;
}

/* Publishing_________________________________________ */




/* Design_________________________________________ */
#design{overflow: hidden;}
.design-inner{
  position: absolute;
  width: 300%;
  height: 100vh;
  display: flex;
  left: -100%;
  transition: 0.35s;
}
.design-sec{
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(135deg, #FAFAFA 36.41%, #E5E5E5 84.2%);
}

/* middle */
.design-btn{
  position: absolute;
  font-size: 10rem;
  font-family: "Squada One", sans-serif;
  line-height: 9rem;
  text-transform: uppercase;
  color: #d2d2d2;
  text-align: center;
  top: 48%;
  transform: translateY(-50%);
  cursor: pointer;
}
.design-btn.uxui-btn{
  right: 60%;
}
.design-btn.graphic-btn{
  left: 60%;
}

/* Contact___________________________________________________________________________ */
.contact-inner{
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contact-tit{
  font-family: 'Escoredream';
  font-size: 2.5rem;
  font-weight: 300;
  white-space: nowrap;
  position: relative;
}
.contact-tit:before,
.contact-tit:after{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 6rem;
  font-family: fontawesome;
  animation:Bounce 2s ease-in-out infinite alternate both;
}

.contact-tit:before{
  content: "\e81b";
  right: calc(100% + 5rem);
}
.contact-tit:after{
  content: "\e81c";
  left: calc(100% + 5rem);
}
.contact-txt{
  font-size: 2rem;
  font-weight: 300;
  margin: 2rem auto 6rem;
}
.contact-way{
  width: 35rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
}
.contact-btn{
  color: var(--white);
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 5rem;
  font-weight: 300;
  margin-left: 2rem;
}
#contact .fa-solid{margin-right: 0.5rem;}
.thank{
  display: inline-block;
  border: 1px solid #000;
  margin: 5rem auto 0;

}