.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  display: none;
}
.modal-bg{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal-content{
  background-color: var(--light-gray);
  width: clamp(50rem, 70%, 87.5rem);
  z-index: 1;
}
.close-btn{
  position: absolute;
  width: 3rem;
  height: 3rem;
}

/* graphic-modal___________________________*/
.view-modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  display: none;
}
.view-modal-bg{
  /* position: absolute; */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
.view-modal-container{
  /* position: relative; */
  background-color: var(--light-gray);
  width: clamp(50rem, 80%, 87.5rem);
  height: 100%;
  min-height: 100vh;
  overflow-y: scroll;
  /* pointer-events: auto; */
}
.view-modal-content{
  width: 100%;
  display: none;
}
.view-modal-content img{
  width: 100%;
}


/* plus-btn */
.plus-btn,
.plus-icons li,
.trigger-btn{
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}
.plus-btn i{font-size: 1.5rem;}
.plus-btn{
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}
.plus-icons{
  position: absolute;
}
.plus-icons li{
  position: absolute;
  background-color: var(--white);
  color: var(--dark-gray);
  box-shadow: var(--shadow-default);
  cursor: pointer;
  transition: 0.35s;
}
.trigger-btn{
  position: absolute;
  background-color: var(--primary);
  color: #fff;
  box-shadow: var(--shadow-default);
  z-index: 1;
}
.trigger-btn i{transition: 0.35s;}
.plus-icons li:hover{color: var(--primary);}

.plus-btn:hover .trigger-btn>i{transform: translate(-50%,-50%) rotate(135deg);}
.plus-btn:hover .plus-icons li:nth-child(1){transform: translateY(-4rem);}
.plus-btn:hover .plus-icons li:nth-child(2){transform: translateX(-4rem);}
.plus-btn:hover .plus-icons li:nth-child(3){transform: translateX(4rem);}
.plus-btn:hover:after{
  content: '';
  position: absolute;
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* contact-modal_____________________________ */
.contact-modal .modal-content{
  height: 35rem;
  border-radius: 3rem;
  text-align: center;
}
.contact-modal .close-btn{
  top: 2rem;
  right: 2rem;
}

.contact-modal .final{
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-modal .final-tit{
  font-size: clamp(2rem, 3vw, 3rem);
  font-weight: 400;
  color: var(--primary);
  margin-bottom: 3rem;
}
.contact-modal .final-txt{font-size: clamp(1rem, 1.5vw, 1.5rem);}
.contact-modal .tools{margin: 1.5rem 0;}
/* .contact-modal .process-btn{
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  color: var(--dark-gray);
  border: 0.1rem solid var(--dark-gray);
  border-radius: 3rem;
  padding: 0.5rem 1rem;
  margin: 3rem auto 4rem;
} */
.contact-modal .icons-btn.process{margin-bottom: 2rem;}
.copy{font-size: clamp(0.75rem, 1.5vw, 1rem);}