
.link-btn{
  width: 11rem;
  height: 3.5rem;
  border-radius: 2rem;
  margin-top: 1rem;
  text-transform: uppercase;
  line-height: 3.5rem;
  box-shadow: var(--shadow-default);
  font-size: 1rem;
}

/* icons-btn */
.icons-btn{
  position: relative;
  /* color: var(--white);
  background-color: var(--default-color); */
  color: var(--default-color);
  background-color: var(--white);
  cursor: pointer;
}
.icons-btn-txt {
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
.icon-group {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  pointer-events: none; /* 기본 비활성 */
}
.icon-btn {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  opacity: 0;
  transform: translateY(1rem);
  pointer-events: auto; /* 링크 활성 */
}
.icon{
  width: 100%;
  height: 100%;
  font-size: 1.625rem;
}

.icon-btn::after {
  position: absolute;
  bottom: calc(100% + 1rem);
  left: 50%;
  transform: translateX(-50%) translateY(0.5rem);
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  line-height: 1;
  white-space: nowrap;
  background: var(--white);
  color: var(--primary);
  border-radius: 0.25rem;
  box-shadow: var(--shadow-center);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s ease, transform 0.1s ease;
}
.icon-btn:nth-child(1)::after {content: "Detail View";}
.icon-btn:nth-child(2)::after {content: "Figma";}
.icon-btn:nth-child(3)::after {content: "GitHub";}

.contact-inner .icon-btn:nth-child(1)::after {content: "Email";}
.contact-inner .icon-btn:nth-child(2)::after {content: "SMS";}
.contact-inner .icon-btn:nth-child(3)::after {content: "Call";}

#contact .modal .icon-btn:nth-child(1)::after {content: "Figma";}
#contact .modal .icon-btn:nth-child(2)::after {content: "GitHub";}

.icon-btn:hover:before{
  content: '';
  background-color: rgba(0,0,0,0.1);
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
}
.icon-btn:hover::after {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
  transition-delay: 0s;
}
